<% if @team.persisted? %>
  <% set_page_title "Edit " + @team.teamname %>
<% else %>
  <% set_page_title "New team" %>
<% end %>

<%= nested_form_for @team, html: {class: 'form', id: 'team-form'} do |f| %>
  <%= render partial: "shared/errors", locals: {errors: @team.errors, item: 'team'} %>

  <div class="form-group">
    <%= f.label :teamname %>
    <%= f.text_field :teamname, class: 'form-control flat' %>
  </div>

  <div class="form-group">
    <%= f.label :school %>
    <%= f.text_field :school, class: 'form-control flat' %>
  </div>

  <%# <%= f.fields_for :users do |u| %1> %>
  <%#   <div class="form-group"> %>
  <%#     <div class="row"> %>
  <%#       <%1# <div class="col-md-1"> %1> %>
  <%#         <%1#   <%= u.label :username %2> %1> %>
  <%#         <%1# </div> %1> %>
  <%#       <div class="col-md-2"> %>
  <%#         <%= u.collection_select(:id, User.all, :id, :username) %1> %>
  <%#       </div> %>
  <%#       <div class="col-md-3"> %>
  <%#         <%= u.link_to_remove "Remove this user", class: "btn btn-danger" %1> %>
  <%#       </div> %>
  <%#     </div> %>
  <%#   </div> %>
  <%# <% end %1> %>
  <%# <%= f.link_to_add "Add a member", :users, class: 'btn btn-warning' %1> %>

  <div class="form-group">
    <%= f.collection_select(:user_ids, User.all, :id, :username, {}, { multiple: true, class: 'form-control flat' }) %>
    <br>
    Hint: use ctrl to select multiple users.
    <%# TODO make it more UI-friendly %> 
  </div>

  <hr>
  <div class="actions">
    <span class="flex-container-bottom-align">
      <%= f.submit class: 'btn btn-success btn-lg', id: 'submit-btn' %>
    </span>
  </div>

<% end %>
