<h4>Edit Contest User</h4>

<%= form_for @user, url: edit_contest_contest_user_path(@contest, @user) do |f| %>
  <%= render partial: "shared/errors", locals: {errors: @user.errors, item: 'user'} %>

  <div class="mb-3">
    <%= f.label :username %><br>
    <%= f.text_field :username, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :nickname %><br>
    <%= f.text_field :nickname, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br>
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
  </div>

  <div>
    <%= f.submit class: 'btn btn-success btn-lg' %>
  </div>
<% end %>
