<div class="pull-right">
  <%= link_to "Generate contest users", batch_new_contest_contest_registrations_path(@contest), class: 'btn btn-lg btn-success' %>
</div>
<h4>Contest users</h4>

<% if @contest_users %>
  <% alert_tag class: 'alert-warning' do %>
    Deleting a contest user will delete all its submissions.
  <% end %>

  <table class="table table-hover table-striped table-condensed">
    <tr>
      <th></th>
      <th>Username</th>
      <th>Nickname</th>
      <th>
        <%= button_to 'Delete All', batch_delete_contest_contest_registrations_path(@contest), params: {action_type: 'contest_users'}, class: 'btn btn-xs btn-danger', style: 'font-size: 14px', data: {confirm: 'Are you sure to delete? This will permanently delete all their submissions.'} %>
      </th>
    </tr>
    <% @contest_users.each do |item| %>
    <tr>
      <% user = item.user %>
      <td><%= image_tag user.avatar.mini_thumb.to_s, class: 'img-rounded' %></td>
      <td><%= user.username %></td>
      <td><%= user.nickname %></td>
      <td>
        <%# TODO: Add edit %>
        <%= link_to 'Edit', '#', class: 'btn btn-info btn-xs' %>
        <%= link_to 'Delete', contest_contest_registration_path(@contest, item), method: :delete, data: {confirm: 'Are you sure to delete? This will permanently delete all its submissions.'}, class:'btn btn-xs btn-danger' %>
      </td>
    </tr>
    <% end %>
  </table>
<% else %>
  No contest users.
<% end %>

<hr style="border-top: 3px solid #ddd">

<h4>Registered users</h4>

<% if @registered_users %>
  <% alert_tag do %>
    Unregistering a user won't delete its existing submissions.
  <% end %>

  <table class="table table-hover table-striped table-condensed">
    <tr>
      <th></th>
      <th>Username</th>
      <th>Nickname</th>
      <th>
        <%= button_to 'Delete All', batch_delete_contest_contest_registrations_path(@contest), params: {action_type: 'registered_users'}, class: 'btn btn-xs btn-danger', style: 'font-size: 14px', data: {confirm: 'Are you sure to unregister all users?'} %>
      </th>
    </tr>
    <% @registered_users.each do |item| %>
    <tr>
      <% user = item.user %>
      <td><%= link_to image_tag(user.avatar.mini_thumb.to_s, class: 'img-rounded'), user_path(user) %></td>
      <td><%= link_to user.username, user_path(user) %></td>
      <td><%= user.nickname %></td>
      <td>
        <%= link_to 'Unregister', contest_contest_registration_path(@contest, item), method: :delete, class:'btn btn-xs btn-danger' %>
      </td>
    </tr>
    <% end %>
  </table>
<% else %>
  No currently registered users.
<% end %>

<hr style="border-top: 3px solid #ddd">

<h4>Unapproved registrations</h4>

<% if @unapproved_users %>
  <% alert_tag class: 'alert-warning' do %>
    Deleting the registration will allow the user to register again.
  <% end %>

  <table class="table table-hover table-striped table-condensed">
    <tr>
      <th></th>
      <th>Username</th>
      <th>Nickname</th>
      <th>
        <%= button_to 'Delete All', batch_delete_contest_contest_registrations_path(@contest), params: {action_type: 'unapproved_users'}, class: 'btn btn-xs btn-danger', style: 'font-size: 14px', data: {confirm: 'Are you sure to delete all unapproved registrations?'} %>
      </th>
    </tr>
    <% @unapproved_users.each do |item| %>
    <tr>
      <% user = item.user %>
      <td><%= link_to image_tag(user.avatar.mini_thumb.to_s, class: 'img-rounded'), user_path(user) %></td>
      <td><%= link_to user.username, user_path(user) %></td>
      <td><%= user.nickname %></td>
      <td>
        <%= link_to 'Delete', contest_contest_registration_path(@contest, item), method: :delete, class:'btn btn-xs btn-danger' %>
      </td>
    </tr>
    <% end %>
  </table>
<% else %>
  No currently unapproved registrations.
<% end %>
