<% if @contest %>
  <% form_target = [@contest, @announcement] %>
<% else %>
  <% form_target = @announcement %>
<% end %>

<%= semantic_form_for form_target do |f| %>
  <div class="mb-3">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %><br>
  </div>

  <div class="mb-3">
    <%= f.label :body %><br>
    <%= f.text_field :body, class: "form-control" %><br>
  </div>

  <div>
    <%= f.submit class: 'btn btn-success btn-lg' %>
  </div>
<% end %>
