<% form_target = [@post, @comment] %>
<% if @contest %>
  <% form_target = [@contest] + form_target %>
<% end %>
<%= form_for form_target do |f| %>
  <%= render partial: "shared/errors", locals: {errors: @comment.errors, item: 'comment'} %>

  <div class="form-group">
    <%= f.label :title, "Title:" %><br />
    <%= f.text_field :title, :class=> 'form-control', :placeholder=>'Title' %>
  </div>
  <div class="form-group">
    <%= f.label :content, "Content:" %> <br />
    <%= f.text_area :content, :class=> 'form-control', :placeholder=>'Content' %>
  </div>
  <div class="actions">
    <%= f.submit :class=>"btn btn-primary" %>
  </div>
<% end %>
