<% if @article.persisted? %>
  <% set_page_title "Edit - " + @article.title %>
<% else %>
  <% set_page_title "New article" %>
<% end %>

<%= nested_form_for(@article) do |f| %>
  <%= render partial: "shared/errors", locals: {errors: @article.errors, item: 'article'} %>

  <div class="form-check form-switch mb-3">
    <%= f.check_box :pinned, class: 'form-check-input' %>
    <%= f.label :pinned, "Pin to top", class: 'form-check-label' %>
  </div>

  <div class="mb-3">
    <%= f.label :category %>
    <%= f.select :category, [["Announcements", 0], ["Course Materials", 1]], {}, {class: 'form-control'} %>
  </div>

  <div class="mb-3">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= f.label :content %>
    <%= f.text_area :content, class: 'form-control', rows: '9' %>
  </div>

  <div class="mb-3">
    <label>Attachments</label>
    <%= f.fields_for :attachments do |a| %>
      <div class="mb-3">
        <div class="row align-items-center">
          <div class="col-md-4">
            <%= a.text_field :path, disabled: true, class: 'form-control' %>
          </div>
          <div class="col-md-4">
            <%= a.file_field :path, class: 'form-control' %>
          </div>
          <div class="col-md-4">
            <%= a.link_to_remove "Remove this attachment", class: 'btn btn-danger btn-sm' %>
          </div>
        </div>
      </div>
    <% end %>
    <%= f.link_to_add "Add an attachment", :attachments, class: 'btn btn-warning' %>
  </div>

  <div class="form-check mb-3">
    <%= f.check_box :public, class: 'form-check-input' %>
    <%= f.label :public, 'Public to anyone', class: 'form-check-label' %>
  </div>

  <%= hidden_field_tag :era, params[:era] %>

  <hr>

  <div>
    <%= f.submit class: 'btn btn-success btn-lg' %>
  </div>
<% end %>
