<thead>
  <tr>
    <th>Rank</th>
    <% if @layout != :single_contest %>
      <th></th>
    <% end %>
    <th>Username</th>
    <th>Nickname</th>
    <% @tasks.each_with_index do |task, index| %>
      <th><%= link_to ('p' + (65+index).chr), contest_problem_path(@contest, task) %></th>
    <% end %>
    <% if @contest.type_acm? %>
      <th>Solv</th>
      <th>Penalty</th>
    <% else %>
      <th>Total</th>
    <% end %>
  </tr>
</thead>
<tbody id="dashboard_table_body">
  <% @participants.each do |usr| %>
    <tr id="row_user_<%= usr.id %>">
      <td id="cell_rank_<%= usr.id %>" class="highlight-if-self"></td>
      <% if @layout != :single_contest %>
        <td><%= link_to image_tag(usr.avatar.mini_thumb.to_s, class: "img-rounded"), user_path(usr) %></td>
        <td class="highlight-if-self"><%= link_to usr.username, user_path(usr) %></td>
      <% else %>
        <td class="highlight-if-self"><%= usr.username %></td>
      <% end %>
      <td class="highlight-if-self"><%= usr.nickname %></td>
      <% @tasks.each do |t|%>
        <td id="cell_item_<%= usr.id %>_<%= t.id %>"></td>
      <% end %>
      <% if @contest.type_acm? %>
        <td id="cell_solved_<%= usr.id %>"></td>
        <td id="cell_penalty_<%= usr.id %>"></td>
      <% else %>
        <td id="cell_score_<%= usr.id %>"></td>
      <% end %>
    </tr>
  <% end %>
</tbody>