<% @scores.each_with_index do |s, index| %>
  <% case s[2] %>
  <% when @color[0] %>
    <tr class="warning">
  <% when @color[1] %>
    <tr class="success">
  <% when @color[2] %>
    <tr class="info">
  <% else %>
    <tr>
  <% end %>
    <td><%= s[-1] %></td>
    <td><%= link_to image_tag(s[0].avatar.mini_thumb.to_s, :class => "img-rounded"), user_path(s[0]) %></td>
    <td><%= link_to s[0].username, user_path(s[0]) %></td>
    <td><%= s[0].nickname %></td>
    <% if @contest.type_acm? %>
      <% s[3].each do |t|%>
        <td>
          <% if t[2] %>
            <span style="color:#008000;"><strong><%= t[0].to_s %><small><%= "/" + t[1].to_s %></small></strong></span>
          <% elsif t[1] >= 0 %>
            <span class="text-success"><strong><%= t[0].to_s %></strong></span><small><%= "/" + t[1].to_s %></small>
          <% elsif t[0] > 0 %>
            <% if t[3] > 0 %>
              <span class="text-danger"><strong><%= t[0].to_s %></strong></span>+<span style="color:#888;"><strong><%= t[3].to_s %></strong></span>
            <% else %>
              <span class="text-danger"><strong><%= t[0].to_s %></strong></span>
            <% end %>
          <% else %>
            <% if t[3] > 0 %>
              0+<span style="color:#888;"><strong><%= t[3].to_s %></strong></span>
            <% else %>
              <%= '-' %>
            <% end %>
          <% end %>
        </td>
      <% end %>
      <td><%= s[2].to_s %></td>
      <td><%= s[4] %></td>
    <% else %>
      <% s[1].each do |t|%>
        <td>
          <%= sprintf("%g", t[0]) %>
          <% if t[1] > 0 %>
            <small><span style="color:#888;">+<%= t[1] %></span></small>
          <% end %>
        </td>
      <% end %>
      <td><%= sprintf("%g", s[2]) %></td>
    <% end %>
  </tr>
<% end %>
