<% @participants.each do |usr| %>
  <tr id="row_user_<%= usr.id %>">
    <td id="cell_rank_<%= usr.id %>"></td>
    <td><%= link_to image_tag(usr.avatar.mini_thumb.to_s, :class => "img-rounded"), user_path(usr) %></td>
    <td><%= link_to usr.username, user_path(usr) %></td>
    <td><%= usr.nickname %></td>
    <% @tasks.each do |t|%>
      <td id="cell_item_<%= usr.id %>_<%= t.id %>"></td>
    <% end %>
    <% if @contest.type_acm? %>
      <td id="cell_solved_<%= usr.id %>"></td>
      <td id="cell_penalty_<%= usr.id %>"></td>
    <% else %>
      <td id="cell_score_<%= usr.id %>"></td>
    <% end %>
  </tr>
<% end %>
