<% set_page_title "Dashboard - " + @contest.title %>
<h4 class="page-header">
  Dashboard <small><%= @contest.title %></small>
</h4>

<div class="row">
  <div class="col-md-2">
    <%= link_to 'Back to Contest', contest_path(@contest), :class => 'btn btn-default btn-xs btn-block' %>
  </div>
  <div class="col-md-2">
    <%= link_to 'Submissions', contest_submissions_path(@contest), :class => 'btn btn-info btn-xs btn-block' %>
  </div>
  <div class="col-md-2">
    <%= link_to 'Refresh', {:controller => :contests, :action => :dashboard_update, :id => @contest.id}, :remote => true, :class => 'btn btn-info btn-xs btn-block', :id => 'refresh' %>
  </div>
  <div class="col-md-5 vcenter">
    <div class="switch"
        data-on-label="<i class='fui-check'></i>"
        data-off-label="<i class='fui-cross'></i>">
      <input id="enable_autorefresh" autocomplete=off type="checkbox" name="enable_autorefresh">
    </div>
    <label style="padding:5px 5px 0px;">Auto refresh, interval</label>
    <input id="refresh_interval" class="form-control input-sm flat" type="number" placeholder="Refresh interval" value=10 min=5 step=1 style="width:60px">
    <label style="padding:5px 5px 0px;">secs</label>
  </div>
</div>

<div>
  <p class="text-center" style="margin-bottom: 0">Display time: <span id="ranklist_time">Current status</span></p>
  <div id="ranklist_time_slider"></div>
</div>

<table class="table table-hover table-align-middle">
  <thead>
    <tr>
      <th>Rank</th>
      <th></th>
      <th>Username</th>
      <th>Nickname</th>
      <% @tasks.each_with_index do |task, index| %>
        <th><%= link_to ('p' + (65+index).chr), contest_problem_path(@contest, task) %></th>
      <% end %>
      <% if @contest.type_acm? %>
        <th>Solv</th>
        <th>Penalty</th>
      <% else %>
        <th>Total</th>
      <% end %>
    </tr>
  </thead>
  <tbody id="dashboard_table_body">
    <%= render partial: 'dashboard_table', locals: {} %>
  </tbody>
</table>

<div class="row">
  <div class="col-md-2">
    <%= link_to 'Back to Contest', contest_path(@contest), :class => 'btn btn-default btn-xs btn-block' %>
  </div>
  <div class="col-md-2">
    <%= link_to 'Submissions', contest_submissions_path(@contest), :class => 'btn btn-info btn-xs btn-block' %>
  </div>
  <div class="col-md-8" id="last-update-div">
    Last Update: <%= Time.now.to_s(:clean) %>
  </div>
</div>

<script>
var data = <%= raw(@data.to_json) %>;
initContestRanklist(data);
</script>
