<h4 class="page-header">
  Dashboard <small><%= @contest.title %></small>
</h4>

<div class="row">
  <div class="col-md-2">
    <%= link_to 'Back to Contest', contest_path(@contest), :class => 'btn btn-default btn-xs btn-block' %>
  </div>
  <div class="col-md-2">
    <%= link_to 'Submissions', contest_submissions_path(@contest), :class => 'btn btn-info btn-xs btn-block' %>
  </div>
  <div class="col-md-1">
    <input id="refresh_interval" class="form-control input-sm flat" type="number" placeholder="Refresh interval" value=10 min=2 step=1>
  </div>
  <div class="col-md-1">
    <%= link_to 'Refresh', {:controller => :contests, :action => :dashboard_update, :id => @contest.id}, :remote => true, :class => 'btn btn-info btn-xs btn-block', :id => 'refresh' %>
  </div>
  <div class="switch switch-square" data-on-label="<i class='fui-check'></i>" data-off-label="<i class='fui-cross'></i>">
    <input id="enable_autorefresh" type="checkbox" name="enable_autorefresh">
    <label for="enable_autorefresh">Enable auto refresh</label>
  </div>
</div>


<table class="table table-hover">
  <thead>
    <tr>
      <th>Rank</th>
      <th></th>
      <th>Username</th>
      <th>Nickname</th>
      <% if user_signed_in? and current_user.admin? %>
      <th>Name</th>
      <% end %>
      <% @tasks.each_with_index do |task, index| %>
        <th><%= link_to ('p' + (65+index).chr), contest_problem_path(@contest, task) %></th>
      <% end %>
      <% if @contest.contest_type == 2 %>
        <th>Solv</th>
        <th>Penalty</th>
      <% else %>
        <th>Total</th>
      <% end %>
    </tr>
  </thead>
  <tbody id="dashboard_table_body">
    <%= render partial: 'dashboard_table', locals: {} %>
  </tbody>
</table>

<div class="row">
  <div class="col-md-2">
    <%= link_to 'Back to Contest', contest_path(@contest), :class => 'btn btn-default btn-xs btn-block' %>
  </div>
  <div class="col-md-2">
    <%= link_to 'Submissions', contest_submissions_path(@contest), :class => 'btn btn-info btn-xs btn-block' %>
  </div>
</div>

<script> contest_dashboard_main() </script>
