<% set_page_title "Dashboard - " + @contest.title %>
<h4 class="page-header">
  Dashboard <small><%= @contest.title %></small>
</h4>

<div class="row" style="display: flex; align-items: center;">
  <div class="col-md-2">
    <%= link_to 'Back to Contest', contest_adaptive_polymorphic_path([]), class: 'btn btn-default btn-xs btn-block' %>
  </div>
  <div class="col-md-2">
    <%= link_to @layout == :single_contest ? 'My Submissions' : 'Submissions', contest_adaptive_polymorphic_path([:submissions]), class: 'btn btn-info btn-xs btn-block' %>
  </div>
  <div class="col-md-2">
    <%= link_to 'Force Refresh', contest_adaptive_polymorphic_path([], action: :dashboard_update), remote: true, class: 'btn btn-info btn-xs btn-block', id: 'refresh' %>
  </div>
  <div class="col-md-2" style="display: flex; align-items: center; padding-top: 2px;">
    <div id="status-indicator" class="offline-indicator">
      <span class="blink"></span>
    </div>
    <small id="status-text">Offline</small>
  </div>
  <% if @contest.type_ioicamp? %>
    <div style="display: flex; justify-content: right; align-items: center;"
         class="col-md-4 ioicamp-dashboard-switch">
         <small class="display-switch-score">Score / Total Tries</small>
         <small class="display-switch-penalty">Last Score update / Penalty Tries</small>
         &nbsp;
         <div class="make-switch"
              data-on-label="score"
              data-off-label="penalty" id="display_switch_div">
           <input id="display_switch" autocomplete=off type="checkbox" name="display_switch" checked>
         </div>
    </div>
  <% end %>

</div>

<div>
  <p class="text-center" style="margin-bottom: 0; margin-top: 0.8rem;">
  Display time: <span id="ranklist_time">Current status</span>
  </p>
  <div id="ranklist_time_slider"></div>
</div>

<table id="dashboard_table" class="table table-hover table-align-middle dashboard-table ioicamp-dashboard-switch">
  <%= render partial: 'dashboard_table', locals: {} %>
</table>

<div class="row">
  <div class="col-md-2">
    <%= link_to 'Back to Contest', contest_adaptive_polymorphic_path([]), class: 'btn btn-default btn-xs btn-block' %>
  </div>
  <div class="col-md-2">
    <%= link_to 'Submissions', contest_adaptive_polymorphic_path([:submissions]), class: 'btn btn-info btn-xs btn-block' %>
  </div>
</div>

<script>
  initContestRanklist(<%= raw(@data.to_json) %>);
  initContestCable(<%= raw(@contest.id) %>);
  <% if @contest.type_ioicamp? %>
      ioicampContestDashboardMain()
  <% end %>
</script>

