<% set_page_title "Contests" %>
<h4 class="page-header">Contests</h4>

<% if current_user&.admin? %>
  <%= link_to 'New Contest', new_contest_path, class: 'btn btn-success btn-sm' %>
  <br>
<% end %>
<%= paginate @contests %>
<table class="table table-hover table-condensed table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th></th>
      <th>Status</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Contest Type</th>
      <% if current_user&.admin? %>
        <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @contests.each do |contest| %>
      <tr>
        <td><%= contest.title %></td>
        <td style="text-align: right;">
          <%= link_to contest.is_running? ? 'Participate' : 'View', contest, class: 'btn btn-xs btn-primary', target: '_blank' %>
        </td>
        <% if contest.is_ended? %>
          <td>Ended</td>
        <% elsif contest.is_started? %>
          <td>Ready</td>
        <% elsif Time.now >= contest.start_time - 1.days %>
          <td>Upcoming</td>
        <% else %>
          <td>Not yet</td>
        <% end %>
        <td><%= contest.start_time.to_fs(:clean) %></td>
        <td><%= contest.end_time.to_fs(:clean) %></td>
        <td><%= contest_type_short_desc_map[contest.contest_type] %> / <%= contest.dashboard_during_contest ? "dashboard" : "no dashboard" %></td>
        <% if current_user&.admin? %>
          <td>
            <%= link_to 'Edit', edit_contest_path(contest), class: 'btn btn-info btn-xs' %>
            <%= link_to 'Destroy', contest, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @contests %>
