<% set_page_title @contest.title %>

<% if effective_admin? %>
  <div class="row">
    <div class="col-md-12">
      <div>
        <%= link_to "Alter Contest Announcement", contest_announcements_path(@contest), class: "btn btn-info btn-xs" %>
      </div>
    </div>
  </div>
<% end %>

<% if @contest.can_register? %>
  <div class="pull-right">
    <% if @register_status.nil? %>
      <%= button_to "Register", register_contest_path(@contest), method: :post, class: 'btn btn-lg btn-success' %>
    <% else %>
      <%= button_to "Unregister", register_contest_path(@contest), method: :post, class: 'btn btn-lg btn-danger', form: {style: 'display: inline'}, params: {cancel: 1} %>
    <% end %>  
  </div>
<% end %>

<h4 class='page-header'>
  <%= @contest.title %>
</h4>

<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">Start / End</h1>
      </div>
      <div class="panel-body">
        <%= @contest.start_time.to_fs(:clean) %> ~<br>
        <%= @contest.end_time.to_fs(:clean) %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">Contest Type</h1>
      </div>
      <div class="panel-body">
        <%= contest_type_desc_map[@contest.contest_type] %><br>
        <% if @contest.dashboard_during_contest %>
          Dashboard<% if @contest.freeze_minutes > 0 %>, freezes <%= pluralize(@contest.freeze_minutes, 'minute') %> before end<% end %>
        <% else %>
          No dashboard
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">Registration Status</h1>
      </div>
      <div class="panel-body">
        <% if @register_status.nil? %>
          <span class="glyphicon glyphicon-remove text-danger"></span> Not registered
        <% elsif @register_status %>
          <span class="glyphicon glyphicon-ok text-success"></span> Registered
        <% else %>
          <span class="glyphicon glyphicon-play text-warning"></span> Pending approval
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if not @contest.is_started? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="panel-title">Description</h1>
    </div>
    <div class="panel-body">
      <%= markdown(@contest.description_before_contest) %>
    </div>
  </div>
<% end %>

<% if @contest.is_started? || effective_admin? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <% if !@contest.is_started? %>
        <h1 class="panel-title">Description during contest (preview)</h1>
      <% else %>
        <h1 class="panel-title">Description</h1>
      <% end %>
    </div>
    <div class="panel-body">
      <%= markdown(@contest.description) %>
    </div>
  </div>
<% end %>

<% if effective_admin? %>
  <div style="margin-bottom:10px;">
    <% Problem.visible_states.each do |name, val| %>
      <%= form_with url: set_contest_task_contest_path(@contest), html: {style: 'display: inline;'} do |f| %>
        <%= f.hidden_field :alter_to, value: val %>
        <%= f.submit "Set contest tasks to #{visible_state_desc_map[name.to_s]}", class: 'btn btn-inverse btn-xs' %>
      <% end %>
    <% end %>
  </div>
<% end %>

<% unless @layout == :single_contest && (!user_signed_in? || !@contest.is_running?) %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="panel-title">Tasks</h1>
    </div>
    <div class="panel-body">
      <% if @contest.is_started? || current_user&.admin? %>
        <% @tasks.each_with_index do |task, index| %>
          <%= link_to ('p' + (65+index).chr + ' ' + task.id.to_s + '. ' + task.name), contest_adaptive_polymorphic_path([task]) %>
          <br>
        <% end %>
      <% else %>
        <%= 'Contest has not yet started.' %>
      <% end %>
    </div>
  </div>
<% end %>

<p>
  <%= link_to 'Dashboard', contest_adaptive_polymorphic_path([], action: :dashboard), {class: 'btn btn-xs btn-warning'} %>
  <%= link_to 'Submissions', contest_adaptive_polymorphic_path([:submissions]), class: 'btn btn-info btn-xs' %>
  <% if effective_admin? %>
    <%= link_to 'Edit', edit_contest_path(@contest), class: 'btn btn-info btn-xs' %>
  <% end %>
  <% if @layout != :single_contest %>
    <%= link_to 'Back to Contests List', contests_path, class: 'btn btn-default btn-xs' %>
  <% end %>
</p>
