<% submission = item[0] %>
<% case item[1] + 1 %>
  <% when 1 %>
    <tr class="warning">
  <% when 2..3 %>
    <tr class="success">
  <% when 4..7 %>
    <tr class="info">
  <% else %>
    <tr>
<% end %>
  <td><%= link_to item[1] + 1, old_submission_path(submission) %></td>
  <td><%= link_to submission.id, old_submission_path(submission) %></td>
  <td><%= link_to image_tag(submission.user.avatar.mini_thumb.to_s, :class => "img-rounded"), user_path(submission.user) %></td>
  <td><%= link_to submission.user.nickname, user_path(submission.user) %></td>
  <% if @problem.ranklist_display_score %>
    <td><%= score_str(submission.old_submission.score) %></td>
  <% end %>
  <td><%= submission.old_submission.total_time %></td>
  <td><%= submission.old_submission.total_memory %></td>
  <td><%= submission.compiler.name %></td>
  <td><%= number_to_human_size(submission.code_length) %></td>
  <td><%= submission.created_at.to_fs(:clean) %></td>
</tr>