<% set_page_title "Ranklist - " + @problem.id.to_s + " - " + @problem.name %>

<% if @ranklist_old %>
  <h4 class="page-header">Old Ranklist <small>Problem #<%= @problem.id %></small></h4>
<% else %>
  <h4 class="page-header">Ranklist <small>Problem #<%= @problem.id %></small></h4>
<% end %>

<div class="row">
  <div class="col-md-2">
    <%= link_to 'Back to Problem', problem_path(@problem), class: 'btn btn-secondary btn-sm w-100' %>
  </div>
  <div class="col-md-2">
    <% if Rails.configuration.x.settings.dig(:old_submission_views) and @problem.old_submissions.exists? %>
      <% if @ranklist_old %>
        <%= link_to 'View New Ranklist', ranklist_problem_path(@problem), class: 'btn btn-secondary btn-sm w-100' %>
      <% else %>
        <%= link_to 'View Old Ranklist', ranklist_old_problem_path(@problem), class: 'btn btn-secondary btn-sm w-100' %>
      <% end %>
    <% end %>
  </div>
</div>

<table id="ranklist-table" class="table table-hover order-column">
  <thead>
    <tr>
      <th>
        Rank
      </th>
      <th>#</th>
      <th></th>
      <th>Submitter</th>
      <% if @problem.ranklist_display_score %>
        <th>
          Score
        </th>
      <% end %>
      <th>
        Time (ms)
      </th>
      <th>
        Memory (KiB)
      </th>
      <th>
        Compiler
      </th>
      <th>
        Code Length
      </th>
      <th>
        Achieved Time
      </th>
    </tr>
  </thead>
  <tbody>
    <% if @ranklist_old %>
      <%= render partial: "ranklist_old_item", collection: @submissions.map.with_index{|x,i| [x,i]}, as: :item %>
    <% else %>
      <%= render partial: "ranklist_item", collection: @submissions.map.with_index{|x,i| [x,i]}, as: :item %>
    <% end %>
  </tbody>
</table>

<script>
  DataTable.type("html-num", "className", "dt-body-left");
  DataTable.type("html-num-fmt", "className", "dt-body-left");
  DataTable.type("num", "className", "dt-body-left");
  DataTable.type("num-fmt", "className", "dt-body-left");
  DataTable.type("date", "className", "dt-body-left");

  const table = new DataTable("#ranklist-table", {
    pageLength: 50,
    layout: {
      topStart: "paging",
      topEnd: null,
      bottomStart: "paging",
      bottomEnd: null,
      // bottomEnd: 'pageLength',
    },
    columnDefs: [
      { type: "file-size", target: <%= @problem.ranklist_display_score ? 8 : 7 %> },
      // { type: "num", target: 0 },
      { orderable: false, targets: [1, 2, 3] },
    ],
  });

  table.on("order", function() {
    table.rows().nodes().each((el, idx) => {
      // highlight top rows
      el.setAttribute("class", "");
      if (idx < 1) {
        el.classList.add("table-warning");
      } else if (idx < 3) {
        el.classList.add("table-success");
      } else if (idx < 7) {
        el.classList.add("table-info");
      }
    });
  });
</script>

<div class="row mt-3">
  <div class="col-md-2">
    <%= link_to 'Back to Top', '#', class: 'btn btn-secondary btn-sm w-100' %>
  </div>
</div>
