<% set_page_title "Ranklist - " + @problem.id.to_s + " - " + @problem.name %>

<% if @ranklist_old %>
  <h4 class="page-header">Old Ranklist <small>Problem #<%= @problem.id %></small></h4>
<% else %>
  <h4 class="page-header">Ranklist <small>Problem #<%= @problem.id %></small></h4>
<% end %>

<div class="row">
  <div class="col-md-2">
    <%= link_to 'Back to Problem', problem_path(@problem), class: 'btn btn-default btn-xs btn-block' %>
  </div>
  <div class="col-md-2">
    <% if Rails.configuration.x.settings.dig(:old_submission_views) and @problem.old_submissions.exists? %>
      <% if @ranklist_old %>
        <%= link_to 'View New Ranklist', ranklist_problem_path(@problem), class: 'btn btn-default btn-xs btn-block' %>
      <% else %>
        <%= link_to 'View Old Ranklist', ranklist_old_problem_path(@problem), class: 'btn btn-default btn-xs btn-block' %>
      <% end %>
    <% end %>
  </div>
</div>

<style type="text/css">
th span{
  padding-left: 3px;
}
th span.icon-asc{
  display: None;
}
th span.icon-dsc{
  display: None;
}
th.headerSortDown span.icon-asc{
  display: inline;
}
th.headerSortUp span.icon-dsc{
  display: inline;
}
th.headerSortUp span.icon-non, th.headerSortDown span.icon-non {
  display: None;
}
th span{
  font-size: 12px;
}
th {
  white-space: nowrap;
}
</style>

<% if @submissions.size() > 50 %>
  <span class="pager">
    <span class="right">
      <span class="prev">&nbsp;&nbsp;&lt; </span>
      <span class="pagecount"></span>
      <span class="next"> &gt;&nbsp;&nbsp;</span>
    </span>
  </span>
<% end %>

<table class="table table-hover tablesorter">
  <thead>
    <tr>
      <th>
        Rank
        <span class="glyphicon glyphicon-sort icon-non"></span>
        <span class="glyphicon glyphicon-sort-by-attributes icon-asc"></span>
        <span class="glyphicon glyphicon-sort-by-attributes-alt icon-dsc"></span>
      </th>
      <th>#</th>
      <th></th>
      <th>Submitter</th>
      <% if @problem.ranklist_display_score %>
        <th>
          Score
          <span class="glyphicon glyphicon-sort icon-non"></span>
          <span class="glyphicon glyphicon-sort-by-attributes icon-asc"></span>
          <span class="glyphicon glyphicon-sort-by-attributes-alt icon-dsc"></span>
        </th>
      <% end %>
      <th>
        Time (ms)
        <span class="glyphicon glyphicon-sort icon-non"></span>
        <span class="glyphicon glyphicon-sort-by-attributes icon-asc"></span>
        <span class="glyphicon glyphicon-sort-by-attributes-alt icon-dsc"></span>
      </th>
      <th>
        Memory (KiB)
        <span class="glyphicon glyphicon-sort icon-non"></span>
        <span class="glyphicon glyphicon-sort-by-attributes icon-asc"></span>
        <span class="glyphicon glyphicon-sort-by-attributes-alt icon-dsc"></span>
      </th>
      <th>
        Compiler
        <span class="glyphicon glyphicon-sort icon-non"></span>
        <span class="glyphicon glyphicon-sort-by-alphabet icon-asc"></span>
        <span class="glyphicon glyphicon-sort-by-alphabet-alt icon-dsc"></span>
      </th>
      <th>
        Code Length
        <span class="glyphicon glyphicon-sort icon-non"></span>
        <span class="glyphicon glyphicon-sort-by-attributes icon-asc"></span>
        <span class="glyphicon glyphicon-sort-by-attributes-alt icon-dsc"></span>
      </th>
      <th>
        Achieved Time
        <span class="glyphicon glyphicon-sort icon-non"></span>
        <span class="glyphicon glyphicon-sort-by-attributes icon-asc"></span>
        <span class="glyphicon glyphicon-sort-by-attributes-alt icon-dsc"></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <% if @ranklist_old %>
      <%= render partial: "ranklist_old_item", collection: @submissions.map.with_index{|x,i| [x,i]}, as: :item %>
    <% else %>
      <%= render partial: "ranklist_item", collection: @submissions.map.with_index{|x,i| [x,i]}, as: :item %>
    <% end %>
  </tbody>
</table>
<script>
$.tablesorter.addParser({
    id: 'file-size',
    is: function(s){
        return false;
    },
    format: function(s){
        var token = s.split(" ");
        if(token.length != 2){
            return -1;
        }
        var suffix = {Bytes: 1,KB: 1024,MB: 1048576};
        var sz = parseFloat(token[0]);
        if(!(token[1] in suffix)){
            return -1;
        }
        return sz * suffix[token[1]];
    },
    type: 'numeric'
})
$(document).ready(function()
    {
        $.tablesorter.customPagerControls({
          table          : $('.table'),
          pager          : $('.pager'),
          currentPage    : '.right a',
          ends           : 2,
          aroundCurrent  : 5,
          link           : '<a href="#">{page}</a>',
          currentClass   : 'current',
          adjacentSpacer : '<span>  |  <span>',
          distanceSpacer : '<span>  &#133;  <span>',
          addKeyboard    : true,
          pageKeyStep    : 3
        });

        $(".tablesorter").tablesorter({
            cancelSelection: true,
            sortList: [[0,0]],
            headers: {
                1: { sorter: false},
                2: { sorter: false},
                3: { sorter: false},
                <%= @problem.ranklist_display_score ? 8 : 7 %>: { sorter: 'file-size'}
            },
            theme: 'meow' // non-existent theme
        }).tablesorterPager({
            container: $('.pager'),
            savePages: false,
            size: 50
        });
    }
);
$("table").bind("sortEnd",function() {
    $('tbody > tr').removeClass();
    $('tbody > tr:nth-of-type(1)').addClass('warning');
    $('tbody > tr:nth-of-type(2),tbody > tr:nth-of-type(3)').addClass('success');
    $('tbody > tr:nth-of-type(4),tbody > tr:nth-of-type(5)').addClass('info');
    $('tbody > tr:nth-of-type(6),tbody > tr:nth-of-type(7)').addClass('info');

})
</script>

<% if @submissions.size() > 50 %>
  <span class="pager">
    <span class="right">
      <span class="prev">&nbsp;&nbsp;&lt; </span>
      <span class="pagecount"></span>
      <span class="next"> &gt;&nbsp;&nbsp;</span>
    </span>
  </span>
<% end %>

<div class="row">
  <div class="col-md-2">
    <%= link_to 'Back to Top', '#', class: 'btn btn-default btn-xs btn-block' %>
  </div>
</div>
