<% set_page_title @problem.id.to_s + " - " + @problem.name %>
<% hide_old_submission = (not current_user&.admin?) && @contest&.hide_old_submission %>

<h4 class="page-header">
  <%= user_problem_status(current_user, @problem) if user_signed_in? %> <%= @problem.id %> . <%= @problem.name %>
</h4>

<p>
<div class="row">
  <div class="col-md-2">
    <%= link_to 'Submit', {:controller => :submissions, :action => :new, :problem_id => @problem.id, :contest_id => @contest}, { :class => 'btn btn-success btn-xs btn-block' } %>
  </div>
  <% if not hide_old_submission %>
    <div class="col-md-2">
      <% if @contest %>
        <%= link_to 'Status', contest_problem_submissions_path(@contest, @problem), :class => 'btn btn-info btn-xs btn-block' %>
      <% else %>
        <%= link_to 'Status', problem_submissions_path(@problem), :class => 'btn btn-info btn-xs btn-block' %>
      <% end %>
    </div>
  <% end %>
  <% unless @problem.discussion_disabled? or (@contest and @contest.disable_discussion? and @contest.is_running?) %>
    <div class="col-md-2">
      <%= link_to 'Discussion / Solution', problem_posts_path(@problem), :class => 'btn btn-info btn-xs btn-block' %>
    </div>
  <% end %>
  <% if not hide_old_submission %>
    <div class="col-md-2">
      <%= link_to 'Ranklist', ranklist_problem_path(@problem), :class => 'btn btn-inverse btn-xs btn-block' %>
    </div>
  <% end %>
  <div class="col-md-2">
    <%= link_to 'Back to Problems List', @contest.blank? ? problems_path : contest_path(@contest), :class => 'btn btn-default btn-xs btn-block' %>
  </div>
</div>
<% if current_user&.admin? %>
  <div class="row" style="padding-top:10px;">
    <div class="col-md-2">
      <%= link_to 'Edit', edit_problem_path(@problem), :class => 'btn btn-info btn-xs btn-block' %>
    </div>
    <div class="col-md-2">
      <%= link_to 'Manage Testdata', problem_testdata_path(@problem), :class => 'btn btn-warning btn-xs btn-block' %>
    </div>
    <div class="col-md-2">
      <%= form_with url: rejudge_problem_path(@problem) do |f| %>
        <%= f.submit 'Rejudge', :data => {:confirm => 'Are you really going to rejudge the whole problem?'}, :class => 'btn btn-inverse btn-xs btn-block' %>
      <% end %>
    </div>
    <div class="col-md-2">
      <%= form_with url: delsub_problem_path(@problem) do |f| %>
        <%= f.submit 'Delete all submissions', :data => {:confirm => 'Are you really going to delete ALL submissions to this problem?'}, :class => 'btn btn-danger btn-xs btn-block' %>
      <% end %>
    </div>
  </div>
<% end %>
</p>

<% if not hide_old_submission %>
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title">TopCoder</h1>
        </div>
        <div class="panel-body">
          <% tcoder = topcoder(@problem) %>
          <% if tcoder %>
            <div class="bs5-row">
              <div class="bs5-col-lg bs5-col-lg-auto">
                <%= link_to image_tag(tcoder.avatar.thumb.to_s, :class => "img-thumbnail img-responsive"), user_path(tcoder) %>
              </div>
              <div class="bs5-col-lg">
                <%= link_to tcoder.nickname, user_path(tcoder) %><br>
                <blockquote class="motto"><dfn><%= tcoder.motto %></dfn></blockquote>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h1 class="panel-title">User's AC Ratio</h1>
            </div>
            <div class="panel-body">
              <%= users_ac_ratio(@problem) %>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h1 class="panel-title">Submission's AC Ratio</h1>
            </div>
            <div class="panel-body">
              <%= submissions_ac_ratio(@problem) %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title">Tags
            <div style="float:right"><button id="toggle-solution-tag" type="button" class="btn btn-primary btn-xs">Show solution-related tags</button></div>
          </h1>
        </div>
        <div class="panel-body">
          <%= tag_list_html(@problem) %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">Description</h1>
  </div>
  <div class="panel-body">
    <%= markdown(@problem.description) %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">Input Format</h1>
      </div>
      <div class="panel-body">
        <%= markdown(@problem.input) %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">Output Format</h1>
      </div>
      <div class="panel-body">
        <%= markdown(@problem.output) %>
      </div>
    </div>
  </div>
</div>

<% @problem.sample_testdata.each_with_index do |sample, index| %>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default copy-group problem-copy-group">
        <div class="panel-heading">
          <h1 class="panel-title pull-left">Sample Input <%= index + 1 %></h1>
          <button class="btn btn-default btn-xs pull-right copy-group-btn"> copy </button>
        </div>
        <div class="panel-body code-input copy-group-code" style="font-size:15px;line-height:18px;">
          <%= raw sample.input.gsub(/\n/, '<br/>') %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default copy-group problem-copy-group">
        <div class="panel-heading">
          <h1 class="panel-title pull-left">Sample Output <%= index + 1 %></h1>
          <button class="btn btn-default btn-xs pull-right copy-group-btn"> copy </button>
        </div>
        <div class="panel-body code-input copy-group-code" style="font-size:15px;line-height:18px;">
          <%= raw sample.output.gsub(/\n/, '<br/>') %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">Hints</h1>
      </div>
      <div class="panel-body">
        <%= markdown(@problem.hint) %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">Problem Source</h1>
      </div>
      <div class="panel-body">
        <%= markdown(@problem.source) %>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">Subtasks</h1>
  </div>
  <table class="table table-hover table-striped table-condensed">
    <% show_cons = @problem.subtasks.map{|s| s.constraints}.any?{|x| x && x.size > 0} %>
    <thead>
      <tr>
        <th width="5%">No.</th>
        <th width="20%">Testdata Range</th>
        <% if show_cons %>
          <th width="60%">Constraints</th>
        <% end %>
        <th width="15%">Score</th>
      </tr>
    </thead>
    <% @problem.subtasks.order(id: :asc).each_with_index do |s, i| %>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= s.td_list.gsub(',', ', ').gsub('-', '~') %></td>
        <% if show_cons %>
          <td><%= markdown_no_p(s.constraints) %></td>
        <% end %>
        <td><%= sprintf("%g", s.score) %></td>
      </tr>
    <% end %>
  </table>
</div>

<div class="panel panel-default">
  <div class="panel-heading" data-toggle="collapse" href="#collapseLimit">
    <h1 class="panel-title">
      Testdata and Limits
      <i class="indicator glyphicon glyphicon-chevron-up pull-right"></i>
    </h1>
  </div>
  <div class="collapse in" id="collapseLimit">
  <table class="table table-hover table-striped table-condensed">
    <thead>
      <tr>
        <th>No.</th>
        <th>Time Limit (ms)</th>
        <% if @has_vss %>
          <th>Memory Limit (VSS, KiB) <%= help_icon '/about/memory' %></th>
        <% end %>
        <% if @has_rss %>
          <th>Memory Limit (RSS, KiB) <%= help_icon '/about/memory' %></th>
        <% end %>
        <th>Output Limit (KiB)</th>
        <th>Subtasks</th>
      </tr>
    </thead>
    <tbody>
      <% @testdata.each_with_index do |testdatum, index| %>
        <tr>
          <td><%= index %></td>
          <td><%= testdatum.time_limit || "-" %></td>
          <% if @has_vss %>
            <td><%= testdatum.vss_limit || "-" %></td>
          <% end %>
          <% if @has_rss %>
            <td><%= testdatum.rss_limit || "-" %></td>
          <% end %>
          <td><%= testdatum.output_limit || "-" %></td>
          <td>
            <% if @tdlist[index] %>
              <% @tdlist[index].each do |x| %>
                <span class="subtask-icon"><%= x + 1 %></span>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <%= link_to 'Submit', {:controller => :submissions, :action => :new, :problem_id => @problem.id, :contest_id => @contest}, { :class => 'btn btn-success btn-xs btn-block' } %>
  </div>
  <% if not hide_old_submission %>
    <div class="col-md-2">
      <%= link_to 'Status', problem_submissions_path(@problem), :class => 'btn btn-info btn-xs btn-block' %>
    </div>
    <div class="col-md-2">
      <%= link_to 'Ranklist', ranklist_problem_path(@problem), :class => 'btn btn-inverse btn-xs btn-block' %>
    </div>
  <% end %>
  <% if current_user&.admin? %>
    <div class="col-md-2">
      <%= link_to 'Edit', edit_problem_path(@problem), :class => 'btn btn-info btn-xs btn-block' %>
    </div>
    <div class="col-md-2">
      <%= link_to 'Manage Testdata', problem_testdata_path(@problem), :class => 'btn btn-warning btn-xs btn-block' %>
    </div>
  <% end %>
  <div class="col-md-2">
    <%= link_to 'Back to Top', '#', :class => 'btn btn-default btn-xs btn-block' %>
  </div>
</div>
