<% set_page_title "Changed Problems" %>
<h4 class="page-header">
  Problems Failed After Rejudge
</h4>

<p>
All problems that you solved originally but became unsolved after rejudge are listed here.<br>
The problem will be removed from this list once you solved it again.
</p>

<%= paginate @problems %>
<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% problem_a = @problems.to_a %>
    <% problem_a.each do |problem| %>
      <% if current_user&.admin? or problem.visible_public? %>
        <tr>
          <td><%= link_to problem.id, problem_path(problem.id) %></td>
          <td>
            <div style="float:left"><%= link_to problem.name, problem_path(problem.id) %></div>
            <div style="float:right"><%= raw problem.tags.map{ |a| link_to a, problems_tag_path(a.name), :class => 'btn btn-xs btn-default' }.join(" ") %></div>
          </td>
          <td>
            <%= link_to 'View changed submissions', changed_submissions_user_path(@user, problem_id: problem.id), :class => 'btn btn-success btn-xs' %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<%= paginate @problems %>
