<% set_page_title @user.username %>
<div class="row">
<!--
  <div class="col-md-5">
    <%= image_tag(@user.avatar.square.to_s, class: "img-rounded img-responsive") %><br/>
    <h6><%= @user.nickname %></h6>
-->
  <div class="col-md-4">
    <%= image_tag(@user.avatar.square.to_s, class: "img-rounded img-responsive") %><br/>
    <h5><%= @user.nickname %></h5>
    <h6><%= @user.username %></h6>
    <!--<% @user.email %><br/>-->
    <br>
    <% if not @user.motto.blank? %><blockquote class="motto"><dfn><%= @user.motto %></dfn></blockquote><% end %>
    <table>
      <tr>
        <td class="col-md-7">Tried and accepted (+contests):</td>
        <td class="col-md-5"><%= @tried.count{|x| x == 1} %></td>
      </tr>
      <tr>
        <td class="col-md-7">Tried but in vain (+contests):</td>
        <td class="col-md-5"><%= @tried.count{|x| x == 2} %></td>
      </tr>
      <tr>
        <td class="col-md-7">AC Ratio (-contests):</td>
        <td class="col-md-5"><%= ac_ratio_by_user(@user) %></td>
      </tr>
    </table>
    <br>
    <% if current_user&.admin? or current_user&.id == @user.id %>
      <table>
        <tr>
          <td class="col-md-3">Admin:</td>
          <td class="col-md-9"><%= @user.admin? %></td>
        </tr>
        <tr>
          <td class="col-md-3">Name:</td>
          <td class="col-md-9"><%= @user.name %></td>
        </tr>
        <tr>
          <td class="col-md-3">School:</td>
          <td class="col-md-9"><%= @user.school %></td>
        </tr>
        <tr>
          <td class="col-md-3">Gradyear:</td>
          <td class="col-md-9"><%= @user.gradyear %></td>
        </tr>
        <tr>
          <td class="col-md-3">Email:</td>
          <td class="col-md-9"><%= @user.email %></td>
        </tr>
      </table>
      <br>
    <% end %>
    Signed up at: <%= @user.created_at.to_fs(:clean) %><br>
    Last sign in: <%= @user.last_sign_in_at.to_fs(:clean) %><br>
    <br>
    <%= link_to('Edit My Account', edit_registration_path(:user), class: 'btn btn-info btn-xs') %>
  </div>

  <div class="col-md-8">
    <table class="table table-condensed">
      <thead>
        <tr>
          <% 10.times do |a| %>
            <th></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @problems.each_with_index do |prob, idx| %>
          <% if idx%10 == 0 %>
            <tr>
          <% end %>

          <td>
            <% case @tried[prob.id] %>
              <% when 1 %>
                 <%= link_to prob.id.to_s, problem_submissions_path(prob, filter_user_id: @user.id), class: "text-success" %>
              <% when 2 %>
                 <%= link_to prob.id.to_s, problem_submissions_path(prob, filter_user_id: @user.id), class: "text-warning" %>
              <% else %>
                 <%= link_to prob.id.to_s, problem_submissions_path(prob, filter_user_id: @user.id), class: "text-muted" %>
            <% end %>
          </td>

          <% if idx%10 == 9 %>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
