<div class="row">
  <div class="col-lg-12">
    <% if current_user&.admin? %>
      <div>
        <%= link_to "Alter Announcement", announcements_path, class: "btn btn-info btn-xs" %>
      </div>
    <% end %>
    <div class="well well-lg">
      <h5>Bulletin Board<small class="pull-right"><%= link_to "Show all", articles_path %></small></h5>
      <%= render 'articles/table', articles: @bulletins %>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="well well-lg">
      <h5>Recent Contests<small class="pull-right"><%= link_to "Show all", contests_path %></small></h5>
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Title</th>
            <th></th>
            <th>Status</th>
            <% if user_signed_in? %>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @contests.each do |contest| %>
            <tr>
              <% if contest.is_running? %>
                <td><strong><%= contest.title %></strong></td>
                <td style="text-align: right;"><%= link_to 'Participate', contest, class: 'btn btn-xs btn-danger', target: '_blank' %></td>
              <% else %>
                <td><%= contest.title %></td>
                <td style="text-align: right;"><%= link_to 'View', contest, class: 'btn btn-xs btn-primary', target: '_blank' %></td>
              <% end %>
              <% if contest.is_ended? %>
                <td style="white-space: nowrap;">Ended</td>
                <td style="white-space: nowrap;"><%= distance_of_time_in_words_to_now(contest.end_time) + " ago" %></td>
              <% elsif contest.is_started? %>
                <td style="white-space: nowrap;"><strong>Ready</strong></td>
                <td style="white-space: nowrap;"><strong>Now</strong></td>
              <% elsif Time.now >= contest.start_time - 1.days %>
                <td class="text-info" style="white-space: nowrap;">Upcoming</td>
                <td class="text-danger" style="white-space: nowrap;"><%= distance_of_time_in_words_to_now(contest.start_time) %></td>
              <% else %>
                <td class="text-info" style="white-space: nowrap;">Not yet</td>
                <td style="white-space: nowrap;"><%= distance_of_time_in_words_to_now(contest.start_time) %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="well well-lg">
      <h5>Ranked Coders<small class="pull-right"><%= link_to "Show all", users_path %></small></h5>
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Rank</th>
            <th></th>
            <th>Username</th>
            <th>Accepted</th>
            <th>AC Ratio</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each_with_index do |f, idx| %>
              <tr>
              <td><%= idx + 1 %></td>
              <td><%= link_to image_tag(f.avatar.mini_thumb.to_s, class: "img-rounded"), {controller: 'users', action: :show, id: f.id} %></td>
              <td><%= link_to f.username, user_path(f) %></td>
              <td><%= f.ac %></td>
              <td><%= ac_ratio_by_user_with_infor(f) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

