<%= form_for @judge_server do |f| %>
  <%= render partial: "shared/errors", locals: {errors: @judge_server.errors, item: 'JudgeServer'} %>

  <div class="mb-3">
    <%= f.label :name, 'Server Name' %> <br>
    <%= f.text_field :name, class: 'form-control', placeholder: 'Server Name' %>
  </div>
  <div class="mb-3">
    <%= f.label :ip, 'IP Address' %> <br>
    <%= f.text_field :ip, class: 'form-control', placeholder: 'IP Address' %>
  </div>
  <div class="mb-3">
    <%= f.label :key, 'Secure Key' %> <br>
    <%= f.text_field :key, class: 'form-control', placeholder: 'Secure Key' %>
  </div>
  <div class="mb-3">
    <%= f.submit class:"btn btn-primary "%>
  </div>
<% end %>
