<%= form_for [@problem, @problem.testdata.build], url: :batch_new_problem_testdata, html: {multipart: true, id: 'testdata-form'}, remote: true, authenticity_token: true do |f| %>
  <%= render partial: "shared/errors", locals: {errors: @testdata_errors, item: 'testdatum'} %>

  <div class="mb-3">
    <%= f.label :testdata_file_list, "Testdata" %>
    <%= f.file_field :testdata_file_list, class: 'form-control flat', multiple: true %>
  </div>
  
  <div id="testdata-list" class="card bg-light mb-3">
    <h6 class="card-header" data-bs-toggle="collapse" href="#collapseTestdata">
      Testdata File List
      <%= indicator_chevron_up_float_glyph %>
    </h6>
    <div class="collapse show" id="collapseTestdata">
      <table class="table table-sm align-middle table-light mb-0">
        <thead>
          <tr>
            <th class="px-3">Input Filename</th>
            <th class="px-3">Output Filename</th>
          </tr>
        </thead>
        <tbody id="file-table">
        </tbody>
      </table>
    </div>
  </div>

  <div class="mb-3">
    <%= f.label :time_limit, "Time Limit" %>
    <%= f.number_field :time_limit, class: 'form-control flat' %>
  </div>
  <div class="mb-3">
    <%= f.label :vss_limit, "Memory Limit (VSS)" %>
    <%= f.number_field :vss_limit, class: 'form-control flat' %>
  </div>
  <div class="mb-3">
    <%= f.label :rss_limit, "Memory Limit (RSS)" %>
    <%= f.number_field :rss_limit, class: 'form-control flat' %>
  </div>
  <div class="mb-3">
    <%= f.label :output_limit, "Output Limit" %>
    <%= f.number_field :output_limit, class: 'form-control flat' %>
  </div>

  <div class="dummy-placeholder">
    <%= f.hidden_field :problem_id %>
  </div>

  <div class="d-flex mb-2">
    <div class="actions me-3">
      <%= f.submit class: 'btn btn-success btn-lg', id: 'submit-button' %>
    </div>
    <div class="flex-grow-1">
      <% ["filezip", "update"].each do |data|%>
        <div class="fade" id="progress-fade-<%= data %>" style="flex: 1 0 0%;">
          <div class="progress" role="progressbar" style="margin-bottom: 0.25em; border-radius: 4px; height: 20px; background: #f0faf0;">
            <div id="progress-inner-bar-<%= data %>" class="progress-bar bg-success" style="width: 0%;"></div>
          </div>
          <div id="progress-text-<%= data %>" class="progress-extended small"></div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<%= javascript_include_tag "testdata_batch_upload" %>
<script>
$(initTestdataBatchUpload);
</script>
