<h4 class="page-header">Editing testdata of Problem #<%= @problem.id%>. <%= @problem.name %></h4>

<p>Position values can be arbitrary integers. The testdata will be ordered by increasing (new position value, original position value).<br>
The testdata list of each testdata set won't change after reordering.</p>

<%= form_tag batch_edit_problem_testdata_path(@problem) do %>
  <% if @testdata.map{|x| x.errors.any?}.any? %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
      <strong><%= pluralize(@testdata.sum{|x| x.errors.count}, "error") %> prohibited this testdatum from being saved:</strong>
      <ul>
        <% @testdata.each do |td| %>
          <% td.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table table-hover table-striped table-condensed">
    <tr>
      <th style="vertical-align: middle;">Input</th>
      <th style="vertical-align: middle;">Output</th>
      <th style="vertical-align: middle;">TL</th>
      <th style="vertical-align: middle;">ML (VSS)</th>
      <th style="vertical-align: middle;">ML (RSS)</th>
      <th style="vertical-align: middle;">OL</th>
      <th style="vertical-align: middle;">Position</th>
      <th>
        Same as above?<br>
        <a onclick="checkAll('.cls-same-as-above', true)" class="btn btn-default btn-xs">Check all</a>
        <a onclick="checkAll('.cls-same-as-above', false)" class="btn btn-default btn-xs">Uncheck all</a>
      </th>
      <th>
        Delete?<br>
        <a onclick="checkAll('.cls-delete', true)" class="btn btn-default btn-xs">Check all</a>
        <a onclick="checkAll('.cls-delete', false)" class="btn btn-default btn-xs">Uncheck all</a>
      </th>
    </tr>
    <% @testdata.each_with_index do |td, index| %>
      <tr>
        <%= fields_for "td[]", td do |f| %>
          <td>
            <%= strip_uuid(td.test_input_identifier) %>
          </td>
          <td>
            <%= strip_uuid(td.test_output_identifier) %>
          </td>
          <td>
            <%= f.number_field :time_limit, :class => 'form-control flat input-sm', :style => 'max-width: 12em;', :data => {:td_id => td.id.to_s} %>
          </td>
          <td>
            <%= f.number_field :vss_limit, :class => 'form-control flat input-sm', :style => 'max-width: 12em;', :data => {:td_id => td.id.to_s} %>
          </td>
          <td>
            <%= f.number_field :rss_limit, :class => 'form-control flat input-sm', :style => 'max-width: 12em;', :data => {:td_id => td.id.to_s} %>
          </td>
          <td>
            <%= f.number_field :output_limit, :class => 'form-control flat input-sm', :style => 'max-width: 12em;', :data => {:td_id => td.id.to_s} %>
          </td>
          <td>
            <%= f.number_field :position, :class => 'form-control flat input-sm', :style => 'max-width: 9em;', :data => {:td_id => td.id.to_s} %>
          </td>
          <td>
            <% if index > 0 %>
              <%= f.check_box :form_same_as_above, :class => 'cls-same-as-above', :data => {:td_id_tag => td.id.to_s} %>
            <% end %>
          </td>
          <td>
            <%= f.check_box :form_delete, :class => 'cls-delete' %>
        <% end %>
          </td>
      </tr>
    <% end %>
  </table>

  <div class="actions">
    <%= submit_tag 'Submit', :class => 'btn btn-success btn-lg' %>
  </div>
<% end %>

<script>
$(window).on('load', function() {
  $(".cls-same-as-above").each(function() { $(`[data-td-id=${this.getAttribute("data-td-id-tag")}]`).prop("disabled", this.checked); });
  $(".cls-same-as-above").change(function() { $(`[data-td-id=${this.getAttribute("data-td-id-tag")}]`).prop("disabled", this.checked); });
});

function checkAll(x, check) {
  $(x).prop('checked', check);
  $(x).trigger('change');
}
</script>

<%= link_to 'Back to Testdata', problem_testdata_path, :class => 'btn btn-default btn-xs' %>
