<% if @submission.persisted? %>
  <% set_page_title "Edit submission - " + @submission.id.to_s %>
<% else %>
  <% set_page_title "New Submission - " + @problem.id.to_s + " - " + @problem.name %>
<% end %>
<%= form_for [@problem, @submission] do |f| %>
  <%= render partial: "shared/errors", locals: {errors: @submission.errors, item: 'submission'} %>

  <div class="form-group">
    <%= render 'compiler_chooser', :f => f %>
  </div>

  <div class="form-group">
    <%= f.label :code %>
    <%= f.text_area :code, :class => 'form-control flat code-input', :rows => "15", style: 'font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;', maxlength: @problem.code_length_limit %>
  </div>

  <% if @contest_id %>
    <div class="field">
      <%= hidden_field_tag :contest_id, @contest_id %>
    </div>
  <% end %>

  <hr>

  <div class="actions">
    <%= f.submit :class => 'btn btn-success btn-lg' %>
  </div>
<% end %>

