<% set_page_title "Submission - " + @submission.id.to_s %>
<h4 class="page-header">Results of submission #<%= @submission.id %></h4>

<p>
<% if @contest.blank? %>
  <%= link_to 'Back to Submissions List', submissions_path, :class => 'btn btn-default btn-xs' %>
<% else %>
  <%= link_to 'Back to Submissions List', contest_submissions_path(@contest), :class => 'btn btn-default btn-xs' %>
<% end %>
<% if user_signed_in? and current_user.admin? %>
  <%= form_with url: rejudge_submission_path(@submission), :html => {:style => 'display: inline;'} do |f| %>
    <%= f.submit 'Rejudge', :class => 'btn btn-xs btn-primary' %>
  <% end %>
  <% if @contest.blank? %>
    <%= link_to 'Edit', edit_submission_path(@submission), :class => 'btn btn-info btn-xs' %>
  <% else %>
    <%= link_to 'Edit', edit_contest_submission_path(@contest, @submission), :class => 'btn btn-info btn-xs' %>
  <% end %>
  <%= link_to 'Destroy', @submission, method: :delete, data: { confirm: 'Are you sure?' }, :class=>'btn btn-xs btn-danger' %>
<% end %>
</p>
<% case @submission.result %>
  <% when "WA" %>
    <div class="panel panel-danger">
  <% when "TLE" %>
    <div class="panel panel-info">
  <% when "MLE" %>
    <div class="panel panel-mle">
  <% when "OLE" %>
    <div class="panel panel-ole">
  <% when "RE" %>
    <div class="panel panel-warning">
  <% when "SIG" %>
    <div class="panel panel-sig">
  <% when "AC" %>
    <div class="panel panel-success">
  <% when "CE" %>
    <div class="panel panel-ce">
  <% when "CLE" %>
    <div class="panel panel-ce">
  <% else %>
    <div class="panel panel-default">
<% end %>
  <div class="panel-heading">
  <div class="row">
    <div class="col-md-3">
      <h1 class="panel-title">Problem</h1>
    </div>
    <div class="col-md-2">
      <h1 class="panel-title">Total Time (ms)</h1>
    </div>
    <div class="col-md-2">
      <h1 class="panel-title">Max Memory (RSS, KiB) <%= help_icon '/about/memory' %></h1>
    </div>
    <div class="col-md-3">
      <h1 class="panel-title">Verdict <%= help_icon '/about/verdicts' %></h1>
    </div>
    <div class="col-md-2">
      <h1 class="panel-title">Score</h1>
    </div>
  </div>
  </div>
  <div class="panel-body">
  <div class="row">
    <div class="col-md-3">
      <% if @submission.contest_id.blank? %>
        <%= link_to @submission.problem.id.to_s + ". " + @submission.problem.name, problem_path(@submission.problem) %>
      <% else %>
        <%= link_to @submission.problem.id.to_s + ". " + @submission.problem.name, contest_problem_path(@submission.contest_id, @submission.problem) %>
      <% end %>
    </div>
    <div class="col-md-2">
      <%= @submission.total_time.to_i %>
    </div>
    <div class="col-md-2">
      <%= @submission.total_memory.to_i %>
    </div>
    <div class="col-md-3">
      <%= @verdict[@submission.result] %>
    </div>
    <div class="col-md-2">
      <%= score_str(@submission.score) %>
    </div>
  </div>
  </div>
</div>

<% unless ['JE', 'ER', 'CE', 'CLE'].include? @submission.result %>
  <div class="panel panel-default">
    <div class="panel-heading" data-toggle="collapse" href="#collapseSubtask">
      <h1 class="panel-title">
        Subtask Results
        <i class="indicator glyphicon glyphicon-chevron-up pull-right"></i>
      </h1>
    </div>
    <div class="collapse in" id="collapseSubtask">
      <table class="table table-condensed table-align-middle">
        <% problem = @submission.problem %>
        <% num_tasks = problem.testdata.count %>
        <% testsets = problem.testdata_sets.order(id: :asc) %>
        <% show_cons = testsets.map{|s| s.constraints}.any?{|x| x && x.size > 0} %>
        <thead>
          <tr>
            <th width="15%">Subtask no.</th>
            <% if show_cons %>
              <th width="15%">Testdata Range</th>
              <th width="65%">Constraints</th>
            <% else %>
              <th width="80%">Testdata Range</th>
            <% end %>
            <th style="min-width:110px;">Score</th>
          </tr>
        </thead>
        <tbody>
          <% testsets.order(id: :asc).each_with_index do |s, i| %>
            <tr>
              <td><%= i + 1 %></td>
              <td><%= s.td_list.gsub(',', ', ').gsub('-', '~') %></td>
              <% if show_cons %>
                <td><%= markdown_no_p(s.constraints) %></td>
              <% end %>
              <% lst = td_list_to_arr(s.td_list, num_tasks) %>
              <% lst = @_result.transform_values{|i| i.score}.values_at(*lst) %>
              <% if lst.nil? or lst.all?{|x| x.nil?} %>
                <td></td>
              <% else %>
                <td style="padding-top:2px;padding-bottom:2px">
                  <% if lst.any?{|x| x.nil?} %>
                    <span class="subtask-display" style="background-color:#808080;">
                      <%= '? / %s' % score_str(s.score) %>
                    </span>
                  <% else %>
                    <% p = lst.size > 0 ? lst.min / 100 : 1 %>
                    <% score = (p * s.score).round(@problem.score_precision) %>
                    <span class="subtask-display" style="background-color:<%= color_map(p) %>;">
                      <%= '%s / %s' % [score_str(score), score_str(s.score)] %>
                    </span>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <% if @show_detail %>
    <div class="panel panel-default">
      <div class="panel-heading" data-toggle="collapse" href="#collapseTestdata">
        <h1 class="panel-title">
          Testdata Results
          <i class="indicator glyphicon glyphicon-chevron-up pull-right"></i>
        </h1>
      </div>
      <div class="collapse in" id="collapseTestdata">
        <% styleclass_map = {'WA' => 'danger', 'AC' => 'success', 'TLE' => 'info', 'RE' => 'warning', 'MLE' => 'mle', 'SIG' => 'sig', 'OLE' => 'ole'} %>
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>Testdata no.</th>
              <th>Subtasks</th>
              <th>Time (ms)</th>
              <% if @has_vss %>
                <th>Memory (VSS, KiB) <%= help_icon '/about/memory' %></th>
              <% end %>
              <th>Memory (RSS, KiB) <%= help_icon '/about/memory' %></th>
              <th>Verdict <%= help_icon '/about/verdicts' %></th>
              <th>Score</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% Range.new(0, @submission.problem.testdata.size - 1).each do |i| %>
              <% task = @_result[i] %>
              <% tr_attr = {} %>
              <% tr_attr[:class] = styleclass_map[task.result] if task and styleclass_map[task.result] %>
              <% if task&.message_type %>
                <% collapse_id = "collapseTask#{i}" %>
                <% tr_attr.merge!({data: {toggle: "collapse"}, href: "##{collapse_id}"}) %>
                <% if tr_attr[:class] %>
                  <% tr_attr[:class] += " panel-heading" %>
                <% else %>
                  <% tr_attr[:class] = "panel-heading" %>
                <% end %>
              <% end %>
              <%= tag.tr(**tr_attr) do %>
                <td><%= i %></td>
                <td>
                  <% if @invtdlist[i] %>
                    <% @invtdlist[i].each do |x| %>
                      <span class="subtask-icon"><%= x + 1 %></span>
                    <% end %>
                  <% end %>
                </td>
                <% if task then %>
                  <td><%= time_str(task.time) %></td>
                  <% if @has_vss %>
                    <td><%= task.vss || '-' %></td>
                  <% end %>
                  <td><%= task.rss %></td>
                  <td><%= @verdict[task.result] %></td>
                  <td><%= score_str(task.score) %></td>
                  <td>
                    <% if task&.message_type %>
                      <i class="indicator glyphicon glyphicon-chevron-down"></i>
                    <% end %>
                  </td>
                <% else %>
                  <td></td>
                  <% if @has_vss %>
                    <td></td>
                  <% end %>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                <% end %>
              <% end %> <%# tr %>
              <% if task&.message_type %>
                <tr class="collapse collapse-no-anim" id="<%= collapse_id %>">
                  <td colspan="<%= @has_vss ? 8 : 7 %>">
                    <% if task.message_type == "html" %>
                      <%= raw task.message %>
                    <% else %>
                      <pre class="pre-scrollable" style="margin: 0;"><code class=""><%= task.message %></code></pre>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            <% end %> <%# Range.new %>
          </tbody>
        </table>
      </div>
    </div>
  <% else %>
    <div class="panel panel-default">
      <div class="panel-heading" data-toggle="collapse" href="#collapseTestdata">
        <h1 class="panel-title">
          Testdata Results
          <i class="indicator glyphicon glyphicon-chevron-up pull-right"></i>
        </h1>
      </div>
      <div class="collapse in" id="collapseTestdata">
        <% styleclass_map = {'WA' => 'danger', 'AC' => 'success', 'TLE' => 'info', 'RE' => 'warning', 'MLE' => 'mle', 'SIG' => 'sig', 'OLE' => 'ole'} %>
        &nbsp; Individual testdata result is hidden during contest.
      </div>
    </div>
  <% end %>
<% end %>

<div class="well well-sm">
  <div class="row">
    <div class="col-md-2">
      <strong>Submitter:</strong>
    </div>
    <div class="col-md-2">
      <%= link_to @submission.user.username, user_path(@submission.user_id) %>
    </div>
    <div class="col-md-2">
      <strong>Compiler:</strong>
    </div>
    <div class="col-md-2">
      <%= @submission.compiler.name %>
    </div>
    <div class="col-md-2">
      <strong>Code Length:</strong>
    </div>
    <div class="col-md-2">
      <%= number_to_human_size(@submission.code.bytesize) %>
    </div>
  </div>
</div>

<% if user_signed_in? and (current_user.admin? or current_user.id == @submission.user_id) %>
  <% if @submission.result == "CE" or @submission.message.present? %>
    <div class="panel panel-default">
      <div class="panel-heading">
         <h1 class="panel-title">Compilation Error Message</h1>
      </div>
      <div class="panel-body">
        <% if @submission.message.present? %>
          <pre class="pre-scrollable" style="margin: 0;"><code class=""><%= @submission.message %></code></pre>
        <% else %>
          Sorry, no compilation error message available.
        <% end %>
      </div>
    </div>
  <% end %>
	<pre class="line-numbers"><code class="<%= @submission.compiler.format_type %>" id="submission_code"><%= @submission.code %></code></pre> 
	<!-- <button type="button" id="copy_btn" class="btn btn-info btn-xs" style="float:right"> copy code </button> -->
	<!-- <script> init_code_copy_script() </script> -->
<% end %>

<%= link_to 'Back to Top', '#', :class => 'btn btn-default btn-xs' %>

<%= javascript_include_tag         "/codehighlighter/prism.js" %>
<%= stylesheet_link_tag         "/codehighlighter/prism.css" %>

