<% set_page_title "Submission - " + @submission.id.to_s %>
<% if @show_old %>
  <h4 class="page-header">Old results of submission #<%= @submission.id %></h4>
<% else %>
  <h4 class="page-header">Results of submission #<%= @submission.id %></h4>
<% end %>

<% waiting_verdicts = ['Validating', 'queued', 'received'] %>
<% will_update = !@show_old && waiting_verdicts.include?(@submission.result) %>
<% panel_class_map = {
  'WA' => 'panel-danger',
  'TLE' => 'panel-info',
  'MLE' => 'panel-mle',
  'OLE' => 'panel-ole',
  'RE' => 'panel-warning',
  'SIG' => 'panel-sig',
  'AC' => 'panel-success',
  'CE' => 'panel-ce',
  'CLE' => 'panel-ce',
} %>
<% panel_class_map.default = 'panel-default' %>
<% row_class_map = {
  'WA' => 'danger',
  'AC' => 'success',
  'TLE' => 'info',
  'RE' => 'warning',
  'MLE' => 'mle',
  'SIG' => 'sig',
  'OLE' => 'ole',
} %>
<% no_task_verdicts = ['CE', 'CLE', 'ER', 'JE'] %>

<p>
<% if @contest.blank? %>
  <%= link_to 'Back to Submissions List', submissions_path, :class => 'btn btn-default btn-xs' %>
<% else %>
  <%= link_to 'Back to Submissions List', contest_submissions_path(@contest), :class => 'btn btn-default btn-xs' %>
<% end %>
<% if Rails.configuration.x.settings.dig(:old_submission_views) and @submission.old_submission %>
  <% if @show_old %>
    <%= link_to 'View New Results', submission_path(@submission), :class => 'btn btn-default btn-xs' %>
  <% else %>
    <%= link_to 'View Old Results', old_submission_path(@submission), :class => 'btn btn-default btn-xs' %>
  <% end %>
<% end %>
<% if current_user&.admin? && !@show_old %>
  <%= form_with url: rejudge_submission_path(@submission), :html => {:style => 'display: inline;'} do |f| %>
    <%= f.submit 'Rejudge', :class => 'btn btn-xs btn-primary' %>
  <% end %>
  <% if @contest.blank? %>
    <%= link_to 'Edit', edit_submission_path(@submission), :class => 'btn btn-info btn-xs' %>
  <% else %>
    <%= link_to 'Edit', edit_contest_submission_path(@contest, @submission), :class => 'btn btn-info btn-xs' %>
  <% end %>
  <%= link_to 'Destroy', @submission, method: :delete, data: { confirm: 'Are you sure?' }, :class=>'btn btn-xs btn-danger' %>
<% end %>
</p>
<% infor_obj = @show_old ? @submission.old_submission : @submission %>
<div id="overall-result" class="panel <%= panel_class_map[infor_obj.result] %>">
  <div class="panel-heading">
  <div class="row">
    <div class="col-md-3">
      <h1 class="panel-title">Problem</h1>
    </div>
    <div class="col-md-2">
      <h1 class="panel-title">Total Time (ms)</h1>
    </div>
    <div class="col-md-2">
      <h1 class="panel-title">Max Memory (RSS, KiB) <%= help_icon '/about/memory' %></h1>
    </div>
    <div class="col-md-3">
      <h1 class="panel-title">Verdict <%= help_icon '/about/verdicts' %></h1>
    </div>
    <div class="col-md-2">
      <h1 class="panel-title">Score</h1>
    </div>
  </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-3">
        <% if @submission.contest_id.blank? %>
          <%= link_to @submission.problem.id.to_s + ". " + @submission.problem.name, problem_path(@submission.problem) %>
        <% else %>
          <%= link_to @submission.problem.id.to_s + ". " + @submission.problem.name, contest_problem_path(@submission.contest_id, @submission.problem) %>
        <% end %>
      </div>
      <div id="total-time" class="col-md-2">
        <%= infor_obj.total_time.to_i %>
      </div>
      <div id="total-memory" class="col-md-2">
        <%= infor_obj.total_memory.to_i %>
      </div>
      <div class="col-md-3">
        <span id="verdict"><%= @verdict[infor_obj.result] %></span>
        <% if will_update %>
          <img id="waiting-icon" src="/images/icons/svg/waiting.svg" style="width:20px;">
        <% end %>
      </div>
      <div id="total-score" class="col-md-2">
        <%= score_str(infor_obj.score) %>
      </div>
    </div>
  </div>
</div>

<% unless no_task_verdicts.include? @submission.result %>
  <div id="subtask-results" class="panel panel-default">
    <div class="panel-heading" data-toggle="collapse" href="#collapseSubtask">
      <h1 class="panel-title">
        Subtask Results
        <i class="indicator glyphicon glyphicon-chevron-up pull-right"></i>
      </h1>
    </div>
    <div class="collapse in" id="collapseSubtask">
      <table class="table table-condensed table-align-middle">
        <% problem = @submission.problem %>
        <% num_tasks = problem.testdata.count %>
        <% testsets = problem.subtasks.order(id: :asc) %>
        <% show_cons = testsets.map{|s| s.constraints}.any?{|x| x && x.size > 0} %>
        <thead>
          <tr>
            <th width="15%">Subtask no.</th>
            <% if show_cons %>
              <th width="15%">Testdata Range</th>
              <th width="65%">Constraints</th>
            <% else %>
              <th width="80%">Testdata Range</th>
            <% end %>
            <th style="min-width:110px;">Score</th>
          </tr>
        </thead>
        <tbody>
          <% subtask_obj = @show_old ? @submission.old_submission : @submission %>
          <% task_results = subtask_obj.calc_subtask_scores.index_by{|x| x[:position]} %>
          <% testsets.order(id: :asc).each_with_index do |s, i| %>
            <tr>
              <td><%= i + 1 %></td>
              <td><%= s.td_list.gsub(',', ', ').gsub('-', '~') %></td>
              <% if show_cons %>
                <td><%= markdown_no_p(s.constraints) %></td>
              <% end %>
              <% td_result = task_results[i] %>
              <td style="padding-top:2px;padding-bottom:2px">
                <% bg_color, score = '#808080', '?' %>
                <% if td_result[:finished] %>
                  <% bg_color = color_map(td_result[:ratio]) %>
                  <% score = score_str(td_result[:score]) %>
                <% end %>
                <span id="subtask-score-bg-<%= i %>" class="subtask-display" style="background-color:<%= bg_color %>;">
                  <span id="subtask-score-<%= i %>"><%= score %></span><%= ' / ' + score_str(s.score) %>
                </span>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div id="testdata-results" class="panel panel-default">
    <div class="panel-heading" data-toggle="collapse" href="#collapseTestdata">
      <h1 class="panel-title">
        Testdata Results
        <i class="indicator glyphicon glyphicon-chevron-up pull-right"></i>
      </h1>
    </div>
    <% if @show_detail %>
      <div class="collapse in" id="collapseTestdata">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>Testdata no.</th>
              <th>Subtasks</th>
              <th>Time (ms)</th>
              <% if @has_vss %>
                <th>Memory (VSS, KiB) <%= help_icon '/about/memory' %></th>
              <% end %>
              <th>Memory (RSS, KiB) <%= help_icon '/about/memory' %></th>
              <th>Verdict <%= help_icon '/about/verdicts' %></th>
              <th>Score</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% Range.new(0, @submission.problem.testdata.size - 1).each do |i| %>
              <% task = @_result[i] %>
              <% tr_attr = {id: "td-row-#{i}"} %>
              <% tr_attr[:class] = row_class_map[task.result] if task and row_class_map[task.result] %>
              <% collapse_id = "td-message-row-#{i}" %>
              <% tr_attr.merge!({data: {toggle: "collapse"}, href: "##{collapse_id}"}) %>
              <% if tr_attr[:class] %>
                <% tr_attr[:class] += " panel-heading" %>
              <% else %>
                <% tr_attr[:class] = "panel-heading" %>
              <% end %>
              <%= tag.tr(**tr_attr) do %>
                <td><%= i %></td>
                <td>
                  <% if @invtdlist[i] %>
                    <% @invtdlist[i].each do |x| %>
                      <span class="subtask-icon"><%= x + 1 %></span>
                    <% end %>
                  <% end %>
                </td>
                <% if task then %>
                  <td id="td-time-<%= i %>"><%= time_str(task.time) %></td>
                  <% if @has_vss %>
                    <td id="td-vss-<%= i %>"><%= task.vss || '-' %></td>
                  <% end %>
                  <td id="td-rss-<%= i %>"><%= task.rss %></td>
                  <td id="td-verdict-<%= i %>"><%= @verdict[task.result] %></td>
                  <td id="td-score-<%= i %>"><%= score_str(task.score) %></td>
                <% else %>
                  <td id="td-time-<%= i %>"></td>
                  <% if @has_vss %>
                    <td id="td-vss-<%= i %>"></td>
                  <% end %>
                  <td id="td-rss-<%= i %>"></td>
                  <td id="td-verdict-<%= i %>"></td>
                  <td id="td-score-<%= i %>"></td>
                <% end %>
                <td>
                  <i class="indicator glyphicon glyphicon-chevron-down<% unless task&.message_type %> no-display<% end %>"></i>
                </td>
              <% end %> <%# tr %>
              <tr id="td-message-row-<%= i %>" class="collapse collapse-no-anim<% unless task&.message_type %> no-display<% end %>" id="<%= collapse_id %>">
                <td id="td-message-<%= i %>" colspan="<%= @has_vss ? 8 : 7 %>">
                  <% if task&.message_type %>
                    <% if task.message_type == "html" %>
                      <%= raw task.message %>
                    <% else %>
                      <pre class="pre-scrollable" style="margin: 0;"><code class=""><%= task.message %></code></pre>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %> <%# Range.new %>
          </tbody>
        </table>
      </div>
    <% else %>
      <div class="collapse in" id="collapseTestdata" style="margin: 0.4rem; padding-left: 1rem;">
        Individual testdata result is hidden.
      </div>
    <% end %> <%# if @show_detail %>
  </div>
<% end %>

<div class="well well-sm">
  <div class="row">
    <div class="col-md-2">
      <strong>Submitter:</strong>
    </div>
    <div class="col-md-2">
      <%= link_to @submission.user.username, user_path(@submission.user) %>
    </div>
    <div class="col-md-2">
      <strong>Compiler:</strong>
    </div>
    <div class="col-md-2">
      <%= @submission.compiler.name %>
    </div>
    <div class="col-md-2">
      <strong>Code Length:</strong>
    </div>
    <div class="col-md-2">
      <%= number_to_human_size(@submission.code_length) %>
    </div>
  </div>
</div>

<% if current_user&.admin? or current_user&.id == @submission.user_id %>
  <div id="ce-message" class="panel panel-default<% unless ['CE', 'CLE', 'ER'].include?(@submission.result) or @submission.message.present? %> no-display<% end %>">
    <div class="panel-heading">
        <h1 class="panel-title">Compilation Error Message</h1>
    </div>
    <div class="panel-body">
      <pre id="ce-message-content" class="pre-scrollable<% unless @submission.message.present? %> no-display<% end %>" style="margin: 0;"><code class=""><%= @submission.message || "" %></code></pre>
      <span id="ce-message-none" <% if @submission.message.present? %>class="no-display"<% end %>>
        Sorry, no compilation error message available.
      </span>
    </div>
  </div>
  <div id="user-code" class="panel panel-default">
    <div class="panel-heading">
      <div class="pull-right" style="position: relative; top: -0.8rem">
        <%= link_to 'View Raw', raw_submission_path(@submission, inline: 1), :class => 'btn btn-info btn-xs' %>
        <%= link_to 'Download', raw_submission_path(@submission), :class => 'btn btn-info btn-xs' %>
      </div>
      <h1 class="panel-title">Code</h1>
    </div>
    <% code_utf8 = @submission.code_content.code_utf8 %>
    <% if code_utf8.valid_encoding? %>
      <div class="panel-body" style="padding: 0;">
        <% code_length_thresh = 32.kilobyte %>
        <% if code_utf8.bytesize > code_length_thresh %>
          <div style="margin: 0.3rem; margin-left: 1.2rem; margin-top: 0.5rem">Code truncated to 32 KiB. Click Download or View Raw to get the full source code.</div>
          <% code_utf8 = code_utf8.truncate_bytes(code_length_thresh) %>
        <% end %>
        <pre class="line-numbers" style="margin: 0; width: 100%; min-height: 40px;"><code class="<%= @submission.compiler.format_type %>" id="submission_code"><%= code_utf8 %></code></pre> 
      </div>
    <% else %>
      <div class="panel-body">
        This code contains non-UTF-8 byte sequences. Click Download or View Raw to get the source code.
      </div>
    <% end %>
  </div>
<% end %>

<% if will_update %>
<script>
var verdict = <%= raw(@verdict.to_json) %>;
var no_task_verdicts = <%= raw(no_task_verdicts.to_json) %>;
var waiting_verdicts = <%= raw(waiting_verdicts.to_json) %>;
var panel_class_map = <%= raw(panel_class_map.to_json) %>;
var row_class_map = <%= raw(row_class_map.to_json) %>;

initSubmissionCable();
$(document).ready(function() {
  subscribeSubmission(<%= @submission.id %>, updateSubmissionDetail);
});
</script>
<% end %>

<%= link_to 'Back to Top', '#', :class => 'btn btn-default btn-xs' %>

<%= javascript_include_tag "/codehighlighter/prism.js" %>
<%= stylesheet_link_tag    "/codehighlighter/prism.css" %>

