<h4 class="page-header">Sign in</h4>
<div class="col-md-6 col-lg-3">
<%= form_for(resource, as: resource_name, url: url) do |f| %>
  <div class="mb-3">
    <%= f.label :username %>
    <%= f.text_field :username, autofocus: true, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div>

  <% if is_devise && devise_mapping.rememberable? -%>
    <div class="mb-3">
      <%= f.check_box :remember_me, class: 'form-check-input' %>
      <%= f.label :remember_me, "Remember me", class: 'form-check-label' %>
    </div>
  <% end -%>

  <div class="mb-1">
    <%= f.submit "Sign in", class: 'btn btn-success btn-lg' %>
  </div>
<% end %>

<% if is_devise %>
<%= render "devise/shared/links" %>
<% end %>
</div>
