<% form_target = @post %>
<% if @contest %>
  <% form_target = @problem ? [@contest, @problem, @post] : [@contest, @post] %>
<% elsif @problem %>
  <% form_target = [@problem, @post] %>
<% end %>
<%= form_for form_target do |f| %>
      <% if @post.errors.any? %>
        <div id="error_explanation">
    <h2><%= pluralize(@post.errors.count, "error") %> prohibited this problem from being saved:</h2>

        <ul>
            <% @post.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
        <% end %>
        </ul>
        </div>
    <% end %>

    <div class="form-group">
        <%= f.label :title, "Title:"%> <br />
        <%= f.text_field :title, :class=> 'form-control', :placeholder=>'Title'%>
    </div>
    <div class="form-group">
        <%= f.label :content, "Content:" %> <br />note: all characters are rendered with
        <a href="https://guides.github.com/features/mastering-markdown/" >Markdown</a>. <br />
        <%= f.text_area :content, :class=> 'form-control', :placeholder=>'Content'%>
    </div>
    <% if not @contest or current_user.admin? %>
      <div class="form-group">
        <%= f.label :global_visible do %>
          <%= f.check_box :global_visible, :value => (@contest or current_user.admin?) ? 0 : 1 %>
          Visible to anyone
        <% end %>
      </div>
    <% end %>
    <div class="form-group">
        <%= f.submit :class=>"btn btn-primary "%>
    </div>
<% end %>

