<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title><%= page_title yield(:title) %></title>
<%= stylesheet_link_tag    "application", media: "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
<script>
MathJax = ({
  tex: {
    inlineMath: [ ['$','$'], ['\\(','\\)'] ],
    processEscapes: true
  }
});
</script>
<%= mathjax_tag :component => 'tex-svg-full.js' %>
<link rel="shortcut icon" href="/images/favicon.ico">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
#page-content{ padding-left: 40px; padding-right: 40px; padding-bottom: 40px; }
.page-header{ margin: 10px 0 15px; }
</style>
</head>

<body>
<div style="background-color:#003365">
  <nav class="navbar navbar-inverse navbar-embossed" role="navigation" style="background-color:#003365">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to image_tag("banner_0.png", :alt => "TIOJ", :style => "padding-left: 15px; padding-right: 20px;", :skip_pipeline => true), root_path, :class => "nav-brand" %>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse-01">
        <ul class="nav navbar-nav navbar-left">
          <li><%= link_to "Bulletin", articles_path %></li>
          <li><%= link_to "Problems", problems_path %></li>
          <li><%= link_to "Submissions", submissions_path %></li>
          <li><%= link_to "Contests", contests_path %></li>
          <li><%= link_to "Discuss", posts_path %></li>
          <li><%= link_to "About", about_url %></li>
          <li><%= link_to "Rank", users_path %></li>
          <% if current_user %>
            <li><%= link_to(current_user.username, user_path(current_user)) %></li>
            <li><%= link_to('Sign out', destroy_user_session_path, :method => :delete) %></li>
          <% else %>
            <li><%= link_to('Sign in', new_session_path(:user)) %> </li>
            <% unless Rails.configuration.x.settings.dig(:disable_registration) %>
              <li><%= link_to('Sign up', new_registration_path(:user)) %></li>
            <% end %>
          <% end %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
  </nav><!-- /navbar -->
</div>

<div class="container-fluid" id="page-content">
  <%= render 'layouts/anno_and_alert', :alert => alert, :notice => notice %>
  <%= yield %>
</div>

</body>
</html>
