<% content_for :icon do %>
<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
<% end %>

<% content_for :navbar do %>
<div class="mb-4" style="background-color:#003365">
  <nav class="navbar navbar-dark navbar-expand-md fw-bold">
    <div class="container-fluid d-flex flex-wrap align-items-center">
      <%= link_to image_tag("banner.png", alt: "TIOJ", skip_pipeline: true), root_path, class: "nav-brand" %>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav d-flex flex-wrap">
          <li class="nav-item"><%= link_to "Bulletin", articles_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Problems", problems_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Submissions", submissions_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Contests", contests_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Discuss", posts_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "About", about_url, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Rank", users_path, class: "nav-link" %></li>
          <% if current_user %>
            <li class="nav-item"><%= link_to "Teams", teams_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to current_user.username, user_path(current_user), class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "nav-link" %></li>
          <% else %>
            <li class="nav-item"><%= link_to "Sign in", new_session_path(:user), class: "nav-link" %> </li>
            <% unless Rails.configuration.x.settings.dig(:disable_registration) %>
              <li class="nav-item"><%= link_to "Sign up", new_registration_path(:user), class: "nav-link" %></li>
            <% end %>
          <% end %>
        </ul>
      </div><%# /.navbar-collapse %>
    </div>
  </nav><%# /navbar %>
</div>
<% end %>

<%= render template: "layouts/base" %>
