<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title><%= page_title yield(:title) %></title>
<%= stylesheet_link_tag    "application", media: "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
<script>MathJax={tex:{inlineMath:[['$','$'],['\\(','\\)']]}};</script>
<%= mathjax_tag component: 'tex-svg-full.js' %>
<%= yield :icon %>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<%= yield :navbar %>

<div class="container-fluid" id="page-content">
  <% if not @annos.empty? %>
    <% alert_tag do %>
      <% @annos.each_with_index do |anno, index| %>
        <strong><%= raw anno.title %></strong> <%= raw anno.body %><% if index != @annos.size - 1 %><br><% end %>
      <% end %>
    <% end %>
  <% end %>

  <% if notice %>
    <% alert_tag class: 'alert-success' do %>
      <strong>Oh Geez! </strong> <%= notice %>
    <% end %>
  <% end %>

  <% if alert %>
    <% alert_tag class: 'alert-danger' do %>
      <strong>Oh No! </strong> <%= alert %>
    <% end %>
  <% end %>
  <%# TODO: Add session:trim cronjob to Dockerfile & installation script %>
  <%= yield %>
</div>

</body>
</html>