<% content_for :icon do %>
<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon-contest.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-contest-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-contest-16x16.png">
<% end %>

<% content_for :navbar do %>
<div class="mb-4" style="background-color:#32CD32">
  <nav class="navbar navbar-dark navbar-expand-md fw-bold">
    <div class="container-fluid d-flex flex-wrap row-gap-3">
      <%= link_to image_tag("banner_contest.png", alt: "TIOJ contest - #{@contest.title}", skip_pipeline: true), contest_path(@contest), class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav d-flex flex-wrap">
          <li class="nav-item"><%= link_to "Contest Tasks", contest_path(@contest), class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Submissions", contest_submissions_path(@contest), class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Q & A", contest_posts_path(@contest), class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Dashboard", dashboard_contest_path(@contest), class: "nav-link" %></li>
          <% if current_user %>
            <% if current_user.admin? %>
              <li class="nav-item"><%= link_to "Users & Registrations", contest_contest_registrations_path(@contest), class: "nav-link" %></li>
            <% end %>
            <li class="nav-item"><%= link_to current_user.username, user_path(current_user), class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "nav-link" %></li>
          <% else %>
            <li class="nav-item"><%= link_to "Sign in", new_session_path(:user), class: "nav-link" %> </li>
            <% unless Rails.configuration.x.settings.dig(:disable_registration) %>
              <li class="nav-item"><%= link_to "Sign up", new_registration_path(:user), class: "nav-link" %></li>
            <% end %>
          <% end %>
        </ul>
      </div><%# /.navbar-collapse %>
    </div>
  </nav><%# /navbar %>
</div>
<% end %>

<%= render template: "layouts/base" %>
