<% content_for :icon do %>
<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon-contest.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-contest-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-contest-16x16.png">
<% end %>

<% content_for :navbar do %>
<div class="mb-4" style="background-color:#402030">

  <nav class="navbar navbar-dark navbar-expand-lg fw-bold">
    <div class="container-fluid d-flex flex-wrap row-gap-3">
      <%= link_to @contest.title, strip_contest_prefix(single_contest_path(@contest)), class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav d-flex flex-wrap">
          <% if current_user %>
            <% if @contest.is_running? %>
              <li class="nav-item"><%= link_to "Contest Tasks", strip_contest_prefix(single_contest_path(@contest)), class: "nav-link" %></li>
              <li class="nav-item"><%= link_to "My Submissions", strip_contest_prefix(single_contest_submissions_path(@contest)), class: "nav-link" %></li>
              <li class="nav-item"><%= link_to "Q & A", strip_contest_prefix(single_contest_posts_path(@contest)), class: "nav-link" %></li>
              <li class="nav-item"><%= link_to "Dashboard", strip_contest_prefix(dashboard_single_contest_path(@contest)), class: "nav-link" %></li>
            <% end %>
            <li class="navbar-text"><%= current_user.username %></li>
            <li class="nav-item"><%= link_to('Sign out', strip_contest_prefix(sign_out_single_contest_path(@contest)), method: :delete, class: "nav-link") %></li>
          <% else %>
            <li class="nav-item"><%= link_to('Sign in', strip_contest_prefix(sign_in_single_contest_path(@contest)), class: "nav-link") %></li>
          <% end %>
        </ul>
      </div><%# /.navbar-collapse %>

    </div>
  </nav><%# /navbar %>
</div>
<% end %>

<%= render template: "layouts/base" %>
